@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
	font-family: DINBold;
	src: url("fonts/DINBold.ttf");
}

@font-face {
	/*
	EmojiSymbols Font (c)blockworks - Kenichi Kaneko
	http://emojisymbols.com/
	*/
	font-family: emoji;
	src: url("fonts/EmojiSymbols-Regular.woff");
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	color: #b1ceeb;
  	background: #162740;
}

h1 {
	font-size: 3em;
	font-family: DINBold;
	line-height: 1.5em;
}

h2 {
	font-size: 2em;
	font-family: DINBold;
	line-height: 1.5em;
}

h3 {
	font-size: 1.5em;
	font-family: DINBold;
	line-height: 1.5em;
}

p, span {
	font-size: 1.5em;
	font-family: 'Montserrat';
	line-height: 1.5em;
}

li {
	font-size: 2em;
	font-family: 'Montserrat', emoji;
	line-height: 1.5em;
}

#header {
	background: #031c35;
	height: 5em;
	padding: 0 30px;
	width: 100%;
}

#header h1 {
	display: inline;
}

#header .right {
	float: right;
}

#right, #left{
	height: calc(100% - 5em);
  	width: 50%;
}

#right {
  	float: right;
}

#left {
  	float: left;
}

.element {
	padding: 10px;
	border: solid #30568f 2px;
	border-radius: 2px;
	background: #1d4560;
}

#right .title {
	margin-bottom: 10px;
}

#right .element {
	margin: 30px 30px 30px 15px;
	height: calc(100% - 60px);
}

#right .element .wrapper {
	overflow-y: hidden;
	height: calc(100% - 60px - 11px);
	transform: rotate(180deg);
	padding-top: 10px;
}

#right .element .wrapper .content {
	transform: rotate(180deg);
}

#left .element {
	margin: 30px 15px 30px 30px;
}

#left ul {
	height: 3em;
	overflow: hidden;
}

li {
	display: inline;
}

li + li:before {
	content: "\00a0•\00a0";
}